.snack {
  display: flex;
  text-align: left;
  z-index: 1;
  background-color: #f44336;
  color: white;
  max-width: 30vw;
  border-radius: 4px;
  padding: 6px 16px;
  font-weight: 500;
  line-height: 1.43;
}
.snackIcon {
  display: flex;
  padding: 7px 0;
  margin-right: 12px;
}
.snackMessage {
  padding: 10px 0;
}
