@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&family=Original+Surfer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --main-bg-color: #fcecdd;
  --primary-color: #fea82f;
  --accent: #ff6701;
  --secondary-color: #ffc288;
}

.App {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}
/* font-family: 'Original Surfer', cursive; */
