.img-grid-cont {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 768px) {
  .img-grid-cont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
